/* General Elements*/
body{
	background-image: url("../images/gembackground2.jpg");
	color: white;

}	



 /* div{
	background-color: black;
	margin: 10px;
	width: 100%;
	padding: 10px;
	color: antiquewhite; */
}

p {
	text-align: center;
}

h1, h3, span, li {
	/* font-weight: bold; */
	text-align: center;
	font-family: Georgia;

	background-color: black;
}
h1 {
	font-size: 30pt;
	color: antiquewhite;
	background-color: black;
}

/* Specfic Elements*/
/*.header, .gems{*/
	/*background-color: black;*/
}

/*.header, .instructions{*/
	/*width: 50%;*/
}
/* Classes */
.numberToMatch, .winsAndLosses{
	/*float: left;*/
	/*width: 15%;*/
	height: 60px;
	color: antiquewhite;
	text-align: center;
}
.userTotal{
	/*width: 15%;*/
	height: 60px;
	color: antiquewhite;
	text-align: center;
}
.gems{
	/*clear: both;*/
}
.gemImage{
	height: 60px;
	margin: 10px;
	background-color: black;
	text-align: center;
}
